@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background: #f8f8f8;
}
*{
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 150px;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3F3234;
    color: #ffffff;
}
.logo{
    width: 100px;
    height: 100px;
}
.logo img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.memeGenerator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memeForm {
    padding:7px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.memeImage{
    background: transparent;
    height:500px;
    width:600px;
   
}
.meme{
    width: 600px;
    text-align: center;
}
@media (max-width:769px){
    .meme{
       text-align: center;
        width: 400px;
        height: 300px;
    }
    .memeImage{
        background:transparent;
        height:300px;
        width:400px;
    }
    .memeForm {

        width: 90%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.memeImage img {
   mix-blend-mode: darken;
    border-radius:10px ;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
button {
    margin:10px;
    width: 120px;
    height: 50px;
    background: #3F3234;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
}
@media (min-width:769px){
    button ,#radio{
        position: relative;
        top:20px;
    }
}
button:hover{
    border: 5px solid #3F3234;
    background: transparent;
    color: #3F3234;
}
.memeGenerator p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto Slab', serif;
    font-size: 170%;
}
#top{
    position:relative;
    bottom:420px;
}
#bottom{
    position:relative;
    bottom:230px;
}
@media (max-width:769px){
    #top{
        position:relative;
        bottom:270px;
    }
    #bottom{
        position:relative;
        bottom:170px;
    }
}
.white{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.black{
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
